body{
    margin: 0;
    font-family: 'Courgette', cursive;
}
.orange-highlight{
    color: orangered;
}
.upper-size{
    font-size: 50px;
}
.half-width{
    width: 30%;
    float: left;
    margin: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
      
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color:papayawhip;
    font-weight: 700px;
    font-size: 25px;
}
.first-sec{
    background-image: url("bg1.jpg");
}
section{
    height: 600px;
    width: 100%;

}


.nice{
    color:orangered;
}
#image-size{
    height: 200px;
    width: 30%;
}
#font-size{
    font-size: 20px;
}
.second-section{
    height: 600px;
    background-image: url("bg1.jpg");
}
.new-color{
    font-size: 40px;
    text-align: center;
    margin: 0;
}
#old{
    color:orangered
}
#young{
    color:orangered
}
.third-sec{
    height: 600px;
    background-image: url("bg1.jpg");
}
.single-experiance{
    box-shadow: 10px 10px 40px orangered;
    border-radius: 7px;
    height: 40%;
    width:35%;
}

#idea{
    border-right: 7px solid;
    border-image:linear-gradient(180deg, darkorchid, indigo) ;
    border-image-slice: 1;
}
#skill{
    border-right: 7px solid;
    border-image:linear-gradient(180deg,darkorchid, indigo);
    border-image-slice: 1;
}

footer p{
background-image: url("bg1.jpg");
height:100px;
margin-top: 0;
text-align: center;
color: orangered;
}